<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>add new blog page</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form action="/blog/" method="post" enctype="multipart/form-data">
            <label for="coverImage" class="form-label">cover image</label>
            <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
            <label for="title" class="form-label">title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
            <label for="body">body</label>
            <textarea class="form-control" placeholder="write here" id="body" name="body"></textarea>
            <button type="submit"> submit</button>
        </form>
        
    </div>
    <%- include('./partials/scripts') %>
</body>
</html> 