<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>add new blog page</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form>
            <label for="title" class="form-label">title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
            

        </form>
        
    </div>
    <%- include('./partials/scripts') %>
</body>
</html> 