<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>add new blog page</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form>
            
        </form>
        
    </div>
    <%- include('./partials/scripts') %>
</body>
</html> 